#modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-size: 40px;
  color: white;
}

#modalContainer span:nth-child(1) {
  transform: scaleX(-1);
}

#modalContainer span {
  margin: 0 40px;
  cursor: pointer;
  user-select: none;
  font-size: 50px;
}

#modalImgContainer {
  position: relative;
}

#modalContainer img {
  width: auto;
  height: 90%;
  transform-origin: center;
  transition: transform 0.3s;
}

#modalContainer img.expand {
  max-width: 1200px;
}

#closeX {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 100;
  width: 50px;
  height: 50px;
}

@media (max-width: 1200px){
  #modalContainer img.expand {
    height: auto;
    width: 90%;
    transform-origin: center;
    transition: transform 0.3s;
  }
}

@media (max-width: 100vh) {
  #modalContainer img {
    height: auto;
    width: 90%;
    transform-origin: center;
    transition: transform 0.3s;
  }
  #modalContainer img.contract {
    width: auto;
    height: 90%;
    transform-origin: center;
    transition: transform 0.3s;
  }
}

@media (max-width: 600px){
  #modalContainer img.contract {
    height: auto;
    width: 90%;
    transform-origin: center;
    transition: transform 0.3s;
  }
}
