.locationMarker {
  color: red;
  position: relative;
  font-size: 30px;
}

.locationMarker > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -110px;
  left: -90px;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  font-size: 15px;
  color: black;
  background-color: white;
}

.locationMarker > div > p {
  margin: 2.5px 0;
}
