.mainContainer{
  margin: 0 auto;
  width: 95%;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: -10px;
  margin-bottom: -10px;
}
.column{
  width: 50%;
  padding: 0 1rem;
}
@media(max-width: 1000px){
  .column{
    width: 100%;
  }
}
.menuSliceContainer{
  width: 100%;
  border: 7px solid black;
  padding: 30px 1rem;
  margin: 3rem 0;
}
.header{
  font-family: DroidSans;
  text-transform: uppercase;
  font-size: 40px;
}
.menuHeader{
  font-family: DroidSans;
  text-transform: capitalize;
  color: #404040;
  font-size: 30px;
  margin-top: 30px;
}
.desc{
  color: grey;
  font-style: italic;
  margin-top: 20px;
  font-size: 20px;
}